name: Build and Test

on:
  push:
    tags-ignore:
      - '*.*'
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - 3.6.12
        - 3.7.7
        - 3.8.7
    steps:
    - name: Checkout latest code
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build docker image
      run: |
        git clone https://github.com/ray-project/ray.git
        cd ray
        ./build-docker.sh --python-version ${{ matrix.python-version }}
        docker images
