name: Build and Test

on:
  push:
    tags-ignore:
      - '*.*'
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - 3.6.12
        - 3.7.7
        - 3.8.7
    steps:
    - name: Checkout latest code
      uses: actions/checkout@v2
    - name: Clone and patch
      run: |
        git clone https://github.com/ray-project/ray.git
        cd ray
        git checkout $RAY_CHECKOUT

        # patch
        ../ray_patch.sh patch . ${{ matrix.python-version }}

        # print patched files
        cat docker/base-deps/Dockerfile
        cat build-docker.sh
      env:
        RAY_CHECKOUT: daabe6bb1f09726c464639b7cc4e81201797027b
    - name: Build image
      run: |
        cd ray
        ./build-docker.sh
        docker images
